.navbar_container {
    height: 80px;
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 8%);
    display: flex;
    align-items: center;
    padding: 0 40px;
}