<div class="container">
  <div class="mariposa_center_grid">
      <div class="email_form_container" novalidate>
        <mat-card>
          <form [formGroup]="formGroup" class="form">

            <mat-form-field class="form__row">
              <input matInput placeholder="Email ID" formControlName="email">
              <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                {{ getErrorEmail() }}
              </mat-error>
            </mat-form-field>
        
           
            <mat-form-field class="form__row">
              <input matInput placeholder="Password" formControlName="password">
              <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
              <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                {{ getErrorPassword() }}
              </mat-error>
            </mat-form-field>
        
          
            <div class="form__row">
              <button mat-raised-button color="primary" type="submit" class="SignIn_Btn" [disabled]="!formGroup.valid">SIGN IN</button>
            </div>
        
          </form>
        </mat-card>        
      </div>
  </div>
</div>