.mariposa_center_grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.form__row {
  width: 100%;
}
.form__row input {
  padding: 12px;
  border: none;
  max-width: 338px;
}

button.SignIn_Btn {
  width: 100%;
  margin-top: 40px;
}